<header class="header">

    <div class="title-bar" data-responsive-toggle="monmenu">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Lorent Pascal Informatique</div>
    </div>


    <div class="top-bar" id="monmenu">
        <div class="top-bar-title hide-for-small-only">
            LORENT PASCAL INFORMATIQUE
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu>
                <li><a href="#service">SERVICES</a></li>
                <li><a href="#tarif">TARIFS</a></li>
                <li><a href="#adresse">ADRESSE</a></li>
                <li><a href="#adresse">CONTACT</a></li>
            </ul>
        </div>

    </div>

    <br/>
    <br/>
    <div class="row">
        <div class="small-12 medium-8 columns">
            <h1>Dépannage Informatique à Domicile</h1>
            Intervention sur tout type de support, pc et portable.
            <br> <br> <br> <br><br><br>
            <br>
            <br>

            <div class="small-12 medium-6 columns">
                <div class="button white">02 41 74 18 01</div>
            </div>

            <div class="small-12 medium-6 columns">
                <a href="mailto:lorent.pascal@neuf.fr" class="button large white btn">Devis gratuit</a>
            </div>

        </div>


        <!--   -------------------- newsletter ------------------- -->

        <div class="small-12 medium-4 columns">

            <div class="callout sucess">
                <div class="button">Inscrivez vous à ma newsletter</div>
                <label>Prénom
                    <input type="text" placeholder="Prenom">
                </label>
                <label>Nom
                    <input type="text" placeholder="Prenom">
                </label>
                <label>Nom
                    <input type="text" placeholder="Adresse Email">
                </label>
                <div class="button submit">Inscription</div>
            </div>
        </div>
    </div>
    </div>


    <br/>
    <br/>
    <br/>

</header>


<main class="content">


    <!--   -------------------- serices ------------------- -->


    <section id="service" class="service">
        <div class="row">
            <div class="small-12 medium-6 large-8 columns">
                <h2>Nos Services</h2>
                <br>
                <ul>
                    <li>Diagnostic pour panne de matériel</li>
                    <li>Réparation de PC, Portable toute marques.</li>
                    <li>Néttoyage, optimisation, suppression de virus de votre système</li>
                    <li>Sauvegarde de vos données(documents...)</li>
                    <li>Réintégration de vos données dans votre système</li>
                    <li>Réinstallation de votre système d’exploitation (windows, linux )</li>
                    <li>Installation périphérique (Box, wifi, ethernet…)</li>
                </ul>
            </div>

            <div class="small-12 medium-6 large-4 columns">
                <div class="callout">

                    <%= image_tag("docteur.jpg", :alt => "docteur feed") %>
                </div>
            </div>
    </section>


    <!--   -------------------- tarifs ------------------- -->

    <section id="tarif" class="tarif">
        <div class="row">

            <div class="small-12 medium-6 large-8 columns">
                <h2>Nos tarifs</h2>
                <br>
                <p> TOUS LES SERVICES individuellement, que ce soit un dépannage ou une installation sont facturé 30€/H hors prix des pièces de rechange.</p>
                <p>Cela inclut:</p>
                <ul>
                    <li>Récupération des données</li>
                    <li>Réintégration des données</li>
                    <li>Réinstallation de votre système</li>
                    <li>Installation réseau</li>

                </ul>

                <p>Le prêt de matériel le temps des travaux est un service LORENT Pascal facturé 15€.</p>
            </div>

            <div class="small-12 medium-6 large-4 columns">
                <div class="callout">


                    <%= image_tag("reparation.jpg", :alt => "reparation feed") %>


                </div>
            </div>
        </div>
    </section>

    <!--   -------------------- Adresse ------------------- -->
    <section id="adresse" class="adresse">

        <div class="row">
            <div class="small-12 medium-4 columns">
                <div class="callout">
                    <h2>Adresse</h2>
                    <p><strong>LORENT Pascal Informatique</strong></p>
                    <p>11 Chemin de Marigné <br>
                        49250 Fontaine Gérin</p>
                    <p>Email: <a href="mailto:lorent.pascal@neuf.fr">lorent.pascal@neuf.fr</a></p>

                </div>
            </div>
            <div class="small-12 medium-8 columns">
                <div class="carte-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21570.189951587017!2d-0.1902617926064241!3d47.48458036341648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4808085e3e68fb69%3A0xa561b55e4f9e29e4!2sLorent+Pascal!5e0!3m2!1sfr!2sfr!4v1487845791521" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </section>

    <!--   --------------------deplacement------------------- -->

    <div class="row">

        <div class="callout">
            Tous les dépannages à domicile sont gratuits dans un rayon de 10km autour de Beaugé puis payant jusqu'à 30km.
        </div>
    </div>

</main>

<!--   --------------------Inter------------------- -->
<div class="inter">
    <br>  <br>
    <div class="row">
        <div class="small-6 medium-6 columns">
            <a href="mailto:lorent.pascal@neuf.fr" class="button large white btn">Devis gratuit</a>
        </div>
    </div>
    <br>
</div>


<!--   --------------------Footer------------------- -->

<footer class="footer">
    <div class="row">

        <div class="small-12 medium-4 columns">
            <br/>
            <h4>Informations utiles</h4>
        </div>




        <div class="small-12 medium-4 columns">
            <br/>
            <h4>  Nos coordonnées</h4>
            <p>Tél: 02 41 74 18 01 <br>
                Port: 06 70 88 28 44</p>
            <hr>
            <p>adresse: <br>
                11 Chemin de Marigné <br>
                49250 Fontaine Gérin </p>
            <hr>
            <p>Email: <br>lorent.pascal@neuf.fr</a>
        </div>
        <div class="small-12 medium-4 columns hide-for-small-only">
            <br/>
            <h4>Abonnez vous à notre info lettre</h4>
            <label> <br/>
                <input type="text" placeholder="Prenom">
            </label>
            <label> <br/>
                <input type="text" placeholder="Prenom">
            </label>
            <label> <br/>
                <input type="text" placeholder="Adresse Email">
            </label>
            <div class="button submit">Inscription</div>
        </div>
    </div>

</footer>

<div class="copy">
    <div class="row">

        <span> copyright: Lorent Pascal Dépannage Informatique</span>
    </div>
</div>
